<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
<!--      <a href="https://www.github.com/beginnerProgrammer3" class="navbar-brand"> My Github </a>-->

      <ul class="navbar-nav">
<!--        <li><a href="https://www.github.com/beginnerProgrammer3" class="navbar-brand"> My Github </a>-->
<!--        <li><a routerLink="/" class="nav-link"> View Cars </a></li>-->
<!--        <li><a routerLink="/addcar" class="nav-link"> Add Car</a></li>-->

        <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">View cars</a></li>
        <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addcar" class="nav-link">Add car</a></li>
        <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
        <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>

      </ul>

    </div>

  </nav>

</header>
