<div class="container" *ngIf="!loginService.isUserLoggedIn()">
  <p> log in to webpage</p>
</div>
<div class="col-md-6" *ngIf="loginService.isUserLoggedIn()">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>mark</th>
      <th>name</th>
      <th>engine</th>
      <th>capacityEngine</th>
      <th>kilometers</th>
      <th>price</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <td>{{car.mark}}</td>
        <td>{{car.name}}</td>
        <td>{{car.engine}}</td>
        <td>{{car.capacityEngine}}</td>
        <td>{{car.kilometers}}</td>
        <td>{{car.price}}</td>
        <td><button class="btn btn-danger" (click)='deleteCar(car)'>Delete Car </button></td>
        <td><button class="btn btn-info" (click)='getCarDetails(car)'>Details </button></td>
      </tr>
    </tbody>
  </table>
</div>
