
/* do not touch this its card section*/
img{
  height: 100pt;
  width: 150pt;
}

.imageFirst{
  height: 1000pt;
  width: 1500pt;
}

.cards{
  display: inline-flex;
  padding: 10px;

}
.card-title{
  color: cornflowerblue;
}
body {
  padding-top: 56px;
}
/*/////////////////////////////////////////*/
