<div class="container" *ngIf="!loginService.isUserLoggedIn()">
  <p> log in to webpage</p>
</div>
<div class="col-md-6" *ngIf="loginService.isUserLoggedIn()">
  <div class="column1">
    <img src="{{car.image}} " align="right"/>
  </div>
  <div class="column2">

    {{car.mark}} {{car.name}}
    <h4>Price: </h4>
    {{car.price}}
    <br>
    <form action="">
    <br>
      <div class="form-group">
        <label >StartDate: </label>
        <input type="date" [(ngModel)]="booking.pickupDate" class="form-control" placeholder="Capacity Engine" name="setTodaysDate">
      </div>
      <div class="form-group">
        <label >End Date: </label>

        <input type="date" [(ngModel)]="booking.dropDate" class="form-control" placeholder="Capacity Engine" name="capacityEngine">
      </div>
        {{booking.pickupDate}}   dupa  {{date}}
    <br>
      <div *ngIf="booking.dropDate > booking.pickupDate ; else ifFail">
        <button class="btn btn-success"  (click)="rentCar()">Rent Car </button>
      </div>
      <ng-template #ifFail><button class="btn btn-warning" >Change date to correct ! </button></ng-template>
    </form>
    <br>
    <button class="btn btn-info" routerLink="/">Return to List of Cars </button>
  </div>
</div>


